body {
   margin: 0px;
   padding: 0px;
   font-family: 'Trebuchet MS',verdana;
}
section {
  float: left;
  height: 100vh;
}
section#left-bar {
  position: relative;
  width:20%;
  text-align: "top";
  background-color: #999f8e;
}
section#left-bar div {
  text-align: center;
  display: block;
  /*margin-left: 50px auto;*/

}
section#right-bar {

  width:80%;
  text-align: "top";
  background-color: #d2d8c7;
}
